	.mediaViewInfo {
		--web-view-name: Newsroom;
		--web-view-id: Newsroom;
		--web-enable-deep-linking: true;
	}
	:root {
		--web-view-ids: Newsroom;
	}
	* {
		margin: 0;
		padding: 0;
	}
	a{
		text-decoration :none;
		color: rgba(51,51,51,1);
	}
	#Newsroom {
		position: absolute;
		box-sizing: border-box;
		background: #E5E5E5;
		width: 1920px;
		height: 3796px;
		background-color: rgba(255,255,255,1);
		overflow: hidden;
		margin: 0;
		padding: 0;
		--web-view-name: Newsroom;
		--web-view-id: Newsroom;
		--web-enable-deep-linking: true;
	}
	.Rectangle_479 {
		position: absolute;
		overflow: visible;
		width: 1920px;
		height: 540px;
		left: 0px;
		top: 3196px;
	}
	.Rectangle_528 {
		position: absolute;
		overflow: visible;
		width: 1920px;
		height: 60px;
		left: 0px;
		top: 3736px;
	}
	#____Text___H4___Selected___On_ {
		position: absolute;
		left: 320px;
		top: 3758px;
		overflow: visible;
		width: 208px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		color: rgba(255,255,255,0.871);
	}
	#____Text___H4___Selected___On__A4_Text_2 {
		position: absolute;
		left: 1356px;
		top: 3758px;
		overflow: visible;
		width: 53px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		color: rgba(255,255,255,0.871);
		text-decoration: true;
	}
	#____Text___H4___Selected___On__A4_Text_3 {
		position: absolute;
		left: 1453px;
		top: 3758px;
		overflow: visible;
		width: 45px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		color: rgba(255,255,255,0.871);
		text-decoration: true;
	}
	#____Text___H4___Selected___On__A4_Text_4 {
		position: absolute;
		left: 1542px;
		top: 3758px;
		overflow: visible;
		width: 59px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		color: rgba(255,255,255,0.871);
		text-decoration: true;
	}
	#mrice_monotone_textblock_logo {
		position: absolute;
		width: 187.5px;
		height: 30px;
		left: 66px;
		top: 3256px;
		overflow: visible;
	}
	.XMLID_2_ {
		position: absolute;
		overflow: visible;
		width: 187.5px;
		height: 30px;
		left: 0px;
		top: 0px;
	}
	#XMLID_3_ {
		position: absolute;
		width: 157.957px;
		height: 21.225px;
		left: 15.263px;
		top: 5.288px;
		overflow: visible;
	}
	.XMLID_4_ {
		overflow: visible;
		position: absolute;
		top: 5.025px;
		left: 0px;
		width: 16.599px;
		height: 12.211px;
		transform: matrix(1,0,0,1,0,0);
	}
	.XMLID_6_ {
		overflow: visible;
		position: absolute;
		top: 5.063px;
		left: 18.563px;
		width: 10.674px;
		height: 12.174px;
		transform: matrix(1,0,0,1,0,0);
	}
	.XMLID_8_ {
		overflow: visible;
		position: absolute;
		top: 0.375px;
		left: 31.575px;
		width: 9.474px;
		height: 16.974px;
		transform: matrix(1,0,0,1,0,0);
	}
	.XMLID_10_ {
		overflow: visible;
		position: absolute;
		top: 0.6px;
		left: 43.087px;
		width: 3.549px;
		height: 16.599px;
		transform: matrix(1,0,0,1,0,0);
	}
	.XMLID_13_ {
		overflow: visible;
		position: absolute;
		top: 5.025px;
		left: 49.313px;
		width: 11.387px;
		height: 12.211px;
		transform: matrix(1,0,0,1,0,0);
	}
	.XMLID_15_ {
		overflow: visible;
		position: absolute;
		top: 0.337px;
		left: 62.959px;
		width: 5.404px;
		height: 16.899px;
		transform: matrix(1,0,0,1,0,0);
	}
	.XMLID_17_ {
		overflow: visible;
		position: absolute;
		top: 5.063px;
		left: 68.25px;
		width: 11.461px;
		height: 12.174px;
		transform: matrix(1,0,0,1,0,0);
	}
	.XMLID_20_ {
		overflow: visible;
		position: absolute;
		top: 5.175px;
		left: 79.875px;
		width: 11.687px;
		height: 16.899px;
		transform: matrix(1,0,0,1,0,0);
	}
	.XMLID_22_ {
		overflow: visible;
		position: absolute;
		top: 0px;
		left: 97.65px;
		width: 14.311px;
		height: 17.461px;
		transform: matrix(1,0,0,1,0,0);
	}
	.XMLID_26_ {
		overflow: visible;
		position: absolute;
		top: 5.025px;
		left: 119.512px;
		width: 8.611px;
		height: 12.136px;
		transform: matrix(1,0,0,1,0,0);
	}
	.XMLID_28_ {
		overflow: visible;
		position: absolute;
		top: 0.6px;
		left: 129.375px;
		width: 3.549px;
		height: 16.599px;
		transform: matrix(1,0,0,1,0,0);
	}
	.XMLID_31_ {
		overflow: visible;
		position: absolute;
		top: 5.063px;
		left: 134.962px;
		width: 10.674px;
		height: 12.174px;
		transform: matrix(1,0,0,1,0,0);
	}
	.XMLID_33_ {
		overflow: visible;
		position: absolute;
		top: 5.063px;
		left: 147.337px;
		width: 11.471px;
		height: 12.174px;
		transform: matrix(1,0,0,1,0,0);
	}
	#____Text___Body_1___Selected__ {
		position: absolute;
		left: 832px;
		top: 3339px;
		overflow: visible;
		width: 92px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		color: rgba(51,51,51,1);
	}
	#____Text___Body_1___Selected___A4_Text_6 {
		position: absolute;
		left: 320px;
		top: 3339px;
		overflow: visible;
		width: 48px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		color: rgba(51,51,51,1);
	}
	#____Text___Body_1___Selected___A4_Text_7 {
		position: absolute;
		left: 832px;
		top: 3544px;
		overflow: visible;
		width: 94px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		color: rgba(51,51,51,1);
	}
	#____Text___Body_1___Selected___A4_Text_8 {
		position: absolute;
		left: 832px;
		top: 3380px;
		overflow: visible;
		width: 57px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		color: rgba(51,51,51,1);
	}
	#____Text___Body_1___Selected___A4_Text_9 {
		position: absolute;
		left: 320px;
		top: 3380px;
		overflow: visible;
		width: 99px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		color: rgba(51,51,51,1);
	}
	#____Text___Body_1___Selected___A4_Text_10 {
		position: absolute;
		left: 832px;
		top: 3626px;
		overflow: visible;
		width: 65px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		color: rgba(51,51,51,1);
	}
	#____Text___Body_1___Selected___A4_Text_11 {
		position: absolute;
		left: 832px;
		top: 3421px;
		overflow: visible;
		width: 45px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		color: rgba(51,51,51,1);
	}
	#____Text___Body_1___Selected___A4_Text_12 {
		position: absolute;
		left: 1088px;
		top: 3421px;
		overflow: visible;
		width: 195px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		color: rgba(51,51,51,1);
	}
	#____Text___Body_1___Selected___A4_Text_13 {
		position: absolute;
		left: 832px;
		top: 3503px;
		overflow: visible;
		width: 90px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		color: rgba(51,51,51,1);
	}
	#____Text___Body_1___Selected___A4_Text_14 {
		position: absolute;
		left: 832px;
		top: 3462px;
		overflow: visible;
		width: 146px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		color: rgba(51,51,51,1);
	}
	#____Text___Body_1___Selected___A4_Text_15 {
		position: absolute;
		left: 832px;
		top: 3298px;
		overflow: visible;
		width: 90px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		color: rgba(51,51,51,1);
	}
	#____Text___Body_1___Selected___A4_Text_16 {
		position: absolute;
		left: 320px;
		top: 3298px;
		overflow: visible;
		width: 47px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		color: rgba(51,51,51,1);
	}
	#____Text___Body_1___Selected___A4_Text_17 {
		position: absolute;
		left: 832px;
		top: 3257px;
		overflow: visible;
		width: 53px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: bold;
		font-size: 18px;
		color: rgba(51,51,51,1);
	}
	#____Text___Body_1___Selected___A4_Text_18 {
		position: absolute;
		left: 1088px;
		top: 3257px;
		overflow: visible;
		width: 73px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: bold;
		font-size: 18px;
		color: rgba(51,51,51,1);
	}
	#____Text___Body_1___Selected___A4_Text_19 {
		position: absolute;
		left: 320px;
		top: 3257px;
		overflow: visible;
		width: 62px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: bold;
		font-size: 18px;
		color: rgba(51,51,51,1);
	}
	#____Text___Body_1___Selected___A4_Text_20 {
		position: absolute;
		left: 832px;
		top: 3585px;
		overflow: visible;
		width: 87px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		color: rgba(51,51,51,1);
	}
	#Group_1820 {
		position: absolute;
		width: 35px;
		height: 35px;
		left: 1328px;
		top: 3338px;
		overflow: visible;
	}
	#post_linkedin {
		position: absolute;
		width: 35px;
		height: 35px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	.Path_2028 {
		overflow: visible;
		position: absolute;
		top: 0px;
		left: 0px;
		width: 35px;
		height: 35px;
		transform: matrix(1,0,0,1,0,0);
	}
	.icons8_instagram_filled {
		overflow: visible;
		position: absolute;
		top: 3338px;
		left: 1148px;
		width: 35px;
		height: 35px;
		transform: matrix(1,0,0,1,0,0);
	}
	.icons8_facebook_old_filled {
		overflow: visible;
		position: absolute;
		top: 3338px;
		left: 1088px;
		width: 35px;
		height: 35px;
		transform: matrix(1,0,0,1,0,0);
	}
	.Subtraction_1 {
		overflow: visible;
		position: absolute;
		top: 3338px;
		left: 1208px;
		width: 35px;
		height: 35px;
		transform: matrix(1,0,0,1,0,0);
	}
	.Subtraction_2 {
		overflow: visible;
		position: absolute;
		top: 3338px;
		left: 1268px;
		width: 35px;
		height: 35px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Group_1821 {
		position: absolute;
		width: 15px;
		height: 15px;
		left: 450px;
		top: 3300px;
		overflow: visible;
	}
	.Line_1 {
		overflow: visible;
		position: absolute;
		top: 7.5px;
		left: 0px;
		width: 15px;
		height: 2px;
	}
	.Line_2 {
		overflow: visible;
		position: absolute;
		top: 0px;
		left: 7.5px;
		width: 2px;
		height: 15px;
	}
	#Group_1822 {
		position: absolute;
		width: 15px;
		height: 15px;
		left: 450px;
		top: 3341px;
		overflow: visible;
	}
	.Line_1_A4_Line_3 {
		overflow: visible;
		position: absolute;
		top: 7.5px;
		left: 0px;
		width: 15px;
		height: 2px;
	}
	.Line_2_A4_Line_4 {
		overflow: visible;
		position: absolute;
		top: 0px;
		left: 7.5px;
		width: 2px;
		height: 15px;
	}
	#Group_1823 {
		position: absolute;
		width: 15px;
		height: 15px;
		left: 450px;
		top: 3382px;
		overflow: visible;
	}
	.Line_1_A4_Line_5 {
		overflow: visible;
		position: absolute;
		top: 7.5px;
		left: 0px;
		width: 15px;
		height: 2px;
	}
	.Line_2_A4_Line_6 {
		overflow: visible;
		position: absolute;
		top: 0px;
		left: 7.5px;
		width: 2px;
		height: 15px;
	}
	.Rectangle_432 {
		position: absolute;
		overflow: visible;
		width: 1920px;
		height: 2116px;
		left: 0px;
		top: 1080px;
	}
	#____Text___H3___Selected___On_ {
		position: absolute;
		left: 320px;
		top: 568px;
		overflow: hidden;
		width: 571px;
		height: 125px;
		line-height: 65px;
		margin-top: -7.5px;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: bold;
		font-size: 50px;
		color: rgba(51,51,51,1);
	}
	#____Text___Body_2___Selected__ {
		position: absolute;
		left: 320px;
		top: 738px;
		overflow: hidden;
		width: 571px;
		height: 111px;
		line-height: 30px;
		margin-top: -6px;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		color: rgba(51,51,51,1);
	}
	.Rectangle_516 {
		position: absolute;
		overflow: visible;
		width: 256px;
		height: 256px;
		left: 1344px;
		top: 311.721px;
	}
	.Rectangle_427 {
		position: absolute;
		overflow: visible;
		width: 256px;
		height: 256px;
		left: 1344px;
		top: 568px;
	}
	#Group_1 {
		position: absolute;
		width: 256px;
		height: 512.279px;
		left: 1088px;
		top: 567.721px;
		overflow: visible;
	}
	.Rectangle_518 {
		position: absolute;
		overflow: visible;
		width: 256px;
		height: 256px;
		left: 0px;
		top: 0px;
	}
	.Rectangle_512 {
		position: absolute;
		overflow: visible;
		width: 256px;
		height: 256px;
		left: 0px;
		top: 256.279px;
	}
	.Rectangle_514 {
		position: absolute;
		overflow: visible;
		width: 256px;
		height: 256px;
		left: 1344px;
		top: 824px;
	}
	#____Text___Body_1___Selected___A4_Text_23 {
		position: absolute;
		left: 579px;
		top: 76px;
		overflow: visible;
		width: 92px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		color: rgba(51,51,51,1);
	}
	#____Text___Body_1___Selected___A4_Text_24 {
		position: absolute;
		left: 890px;
		top: 76px;
		overflow: visible;
		width: 94px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		color: rgba(51,51,51,1);
	}
	#____Text___Body_1___Selected___A4_Text_25 {
		position: absolute;
		left: 710px;
		top: 76px;
		overflow: visible;
		width: 57px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		color: rgba(51,51,51,1);
	}
	#____Text___Body_1___Selected___A4_Text_26 {
		position: absolute;
		left: 806px;
		top: 76px;
		overflow: visible;
		width: 45px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		color: rgba(51,51,51,1);
	}
	#____Text___Body_1___Selected___A4_Text_27 {
		position: absolute;
		left: 1023px;
		top: 76px;
		overflow: visible;
		width: 87px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		color: rgba(255,13,74,1);
	}
	#____Text___Body_1___Selected___A4_Text_28 {
		position: absolute;
		left: 450px;
		top: 76px;
		overflow: visible;
		width: 90px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		color: rgba(51,51,51,1);
	}
	#____Text___Body_1___Selected___A4_Text_29 {
		position: absolute;
		left: 320px;
		top: 76px;
		overflow: visible;
		width: 91px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		color: rgba(51,51,51,1);
		letter-spacing: 0.15px;
	}
	#mrice_infinity_symbol_logo {
		position: absolute;
		width: 50px;
		height: 50px;
		left: 133px;
		top: 60px;
		overflow: visible;
	}
	.XMLID_1_ {
		position: absolute;
		overflow: visible;
		width: 14.29px;
		height: 14.29px;
		left: 0px;
		top: 0px;
	}
	.XMLID_8__A4_Rectangle_11 {
		position: absolute;
		overflow: visible;
		width: 14.29px;
		height: 14.29px;
		left: 0px;
		top: 17.86px;
	}
	.XMLID_4__A4_Rectangle_12 {
		position: absolute;
		overflow: visible;
		width: 14.29px;
		height: 14.29px;
		left: 35.71px;
		top: 0px;
	}
	.XMLID_7_ {
		position: absolute;
		overflow: visible;
		width: 14.29px;
		height: 14.29px;
		left: 17.86px;
		top: 0px;
	}
	.XMLID_12_ {
		position: absolute;
		overflow: visible;
		width: 14.29px;
		height: 14.29px;
		left: 0px;
		top: 35.71px;
	}
	.XMLID_11_ {
		position: absolute;
		overflow: visible;
		width: 14.29px;
		height: 14.29px;
		left: 17.86px;
		top: 35.71px;
	}
	.XMLID_10__A4_Rectangle_16 {
		position: absolute;
		overflow: visible;
		width: 14.29px;
		height: 14.29px;
		left: 35.71px;
		top: 35.71px;
	}
	#surface1 {
		position: absolute;
		width: 24.75px;
		height: 14.3px;
		left: 25.24px;
		top: 17.86px;
		overflow: visible;
	}
	.XMLID_3__A4_Path_17 {
		overflow: visible;
		position: absolute;
		top: 0px;
		left: 0px;
		width: 24.75px;
		height: 14.3px;
		transform: matrix(1,0,0,1,0,0);
	}
	.Rectangle_398 {
		position: absolute;
		overflow: visible;
		width: 132px;
		height: 35px;
		left: 1468px;
		top: 68px;
	}
	#icons8_expand_arrow {
		position: absolute;
		width: 15px;
		height: 8.206px;
		left: 1565px;
		top: 83px;
		overflow: visible;
	}
	.Path_1874 {
		overflow: visible;
		position: absolute;
		top: 0px;
		left: 0px;
		width: 15px;
		height: 8.206px;
		transform: matrix(1,0,0,1,0,0);
	}
	#____Text___Body_2___Selected___A4_Text_30 {
		position: absolute;
		left: 1488px;
		top: 76px;
		overflow: visible;
		width: 60px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		color: rgba(51,51,51,1);
	}
	.Rectangle_569 {
		position: absolute;
		overflow: visible;
		width: 256px;
		height: 256px;
		left: 1088px;
		top: 1079.721px;
	}
	.Rectangle_568 {
		position: absolute;
		overflow: visible;
		width: 256px;
		height: 256px;
		left: 832px;
		top: 1080px;
	}
	.Rectangle_567 {
		position: absolute;
		overflow: visible;
		width: 256px;
		height: 256px;
		left: 320px;
		top: 1080px;
	}
	.Rectangle_570 {
		position: absolute;
		overflow: visible;
		width: 256px;
		height: 256px;
		left: 1344px;
		top: 1079.721px;
	}
	.Rectangle_493 {
		position: absolute;
		overflow: visible;
		width: 850px;
		height: 1200px;
		left: 320px;
		top: 1916px;
	}
	#Group_1830 {
		position: absolute;
		width: 1280px;
		height: 450px;
		left: 320px;
		top: 1416px;
		overflow: visible;
	}
	.Rectangle_592 {
		position: absolute;
		overflow: visible;
		width: 1280px;
		height: 450px;
		left: 0px;
		top: 0px;
	}
	#It_was_pretty_orchestrated__wh {
		position:absolute;
		left: 365px;
		top: 212.173px;
		overflow: hidden;
		width: 551px;
		height: 109px;
		line-height: 28px;
		margin-top: -4px;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: lighter;
		font-size: 20px;
		color: rgba(255,255,255,1);
		letter-spacing: 0.15px;
	}
	#____Text___H4___Selected___On__A4_Text_32 {
		position: absolute;
		left: 537px;
		top: 112px;
		overflow: visible;
		width: 208px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: bold;
		font-size: 35px;
		color: rgba(255,255,255,0.871);
		letter-spacing: 0.07px;
	}
	#____Text___H4___Selected___On__A4_Text_33 {
		position: absolute;
		left: 370px;
		top: 1967px;
		overflow: visible;
		width: 383px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: bold;
		font-size: 25px;
		color: rgba(0,0,0,0.871);
	}
	#____Text___H4___Selected___On__A4_Text_34 {
		position: absolute;
		left: 1220px;
		top: 1967px;
		overflow: visible;
		width: 133px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: bold;
		font-size: 25px;
		color: rgba(0,0,0,0.871);
	}
	#____Text___H4___Selected___On__A4_Text_35 {
		position: absolute;
		left: 1220px;
		top: 2130px;
		overflow: visible;
		width: 152px;
		white-space: nowrap;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: bold;
		font-size: 25px;
		color: rgba(0,0,0,0.871);
	}
	#It_was_pretty_orchestrated__wh_A4_Text_36 {
		position: absolute;
		left: 369.619px;
		top: 2077px;
		overflow: visible;
		width: 584px;
		white-space: nowrap;
		line-height: 25px;
		margin-top: -3.5px;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: bold;
		font-size: 18px;
		color: rgba(51,51,51,1);
	}
	#It_was_pretty_orchestrated__wh_A4_Text_37 {
		position: absolute;
		left: 369.619px;
		top: 2168px;
		overflow: visible;
		width: 584px;
		white-space: nowrap;
		line-height: 25px;
		margin-top: -3.5px;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: bold;
		font-size: 18px;
		color: rgba(51,51,51,1);
	}
	#It_was_pretty_orchestrated__wh_A4_Text_38 {
		position: absolute;
		left: 369.619px;
		top: 2259px;
		overflow: visible;
		width: 584px;
		white-space: nowrap;
		line-height: 25px;
		margin-top: -3.5px;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: bold;
		font-size: 18px;
		color: rgba(51,51,51,1);
	}
	#It_was_pretty_orchestrated__wh_A4_Text_39 {
		position: absolute;
		left: 369.619px;
		top: 2350px;
		overflow: visible;
		width: 584px;
		white-space: nowrap;
		line-height: 25px;
		margin-top: -3.5px;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: bold;
		font-size: 18px;
		color: rgba(51,51,51,1);
	}
	#It_was_pretty_orchestrated__wh_A4_Text_40 {
		position: absolute;
		left: 369.619px;
		top: 2441px;
		overflow: visible;
		width: 584px;
		white-space: nowrap;
		line-height: 25px;
		margin-top: -3.5px;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: bold;
		font-size: 18px;
		color: rgba(51,51,51,1);
	}
	#It_was_pretty_orchestrated__wh_A4_Text_41 {
		position: absolute;
		left: 369.619px;
		top: 2532px;
		overflow: visible;
		width: 584px;
		white-space: nowrap;
		line-height: 25px;
		margin-top: -3.5px;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: bold;
		font-size: 18px;
		color: rgba(51,51,51,1);
	}
	#It_was_pretty_orchestrated__wh_A4_Text_42 {
		left: 369.619px;
		top: 2623px;
		overflow: visible;
		width: 584px;
		white-space: nowrap;
		line-height: 25px;
		margin-top: 10px;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: bold;
		font-size: 18px;
		color: rgba(51,51,51,1);
	}
	#JUNE_16__2019_____BLOOMBERG {
		left: 369.619px;
		top: 2046.173px;
		overflow: hidden;
		width: 233px;
		height: 20px;
		line-height: 23px;
		margin-top: 40px;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: lighter;
		font-size: 18px;
		color: rgba(51,51,51,1);
	}
	#JUNE_16__2019_____BLOOMBERG_A4_Text_44 {
		position: absolute;
		left: 369.619px;
		top: 2137.173px;
		overflow: hidden;
		width: 233px;
		height: 20px;
		line-height: 23px;
		margin-top: -3.5px;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: lighter;
		font-size: 16px;
		color: rgba(51,51,51,1);
	}
	#JUNE_16__2019_____BLOOMBERG_A4_Text_45 {
		position: absolute;
		left: 369.619px;
		top: 2228.173px;
		overflow: hidden;
		width: 233px;
		height: 20px;
		line-height: 23px;
		margin-top: -3.5px;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: lighter;
		font-size: 16px;
		color: rgba(51,51,51,1);
	}
	#JUNE_16__2019_____BLOOMBERG_A4_Text_46 {
		position: absolute;
		left: 369.619px;
		top: 2319.173px;
		overflow: hidden;
		width: 233px;
		height: 20px;
		line-height: 23px;
		margin-top: -3.5px;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: lighter;
		font-size: 16px;
		color: rgba(51,51,51,1);
	}
	#JUNE_16__2019_____BLOOMBERG_A4_Text_47 {
		position: absolute;
		left: 369.619px;
		top: 2410.173px;
		overflow: hidden;
		width: 233px;
		height: 20px;
		line-height: 23px;
		margin-top: -3.5px;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: lighter;
		font-size: 16px;
		color: rgba(51,51,51,1);
	}
	#JUNE_16__2019_____BLOOMBERG_A4_Text_48 {
		position: absolute;
		left: 369.619px;
		top: 2501.173px;
		overflow: hidden;
		width: 233px;
		height: 20px;
		line-height: 23px;
		margin-top: -3.5px;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: lighter;
		font-size: 16px;
		color: rgba(51,51,51,1);
	}
	#JUNE_16__2019_____BLOOMBERG_A4_Text_49 {
		position: absolute;
		left: 369.619px;
		top: 2592.173px;
		overflow: hidden;
		width: 233px;
		height: 20px;
		line-height: 23px;
		margin-top: -3.5px;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: lighter;
		font-size: 16px;
		color: rgba(51,51,51,1);
	}
	#media_mckinleyrice_com {
		left: 1219.619px;
		top: 2028.173px;
		overflow: visible;
		width: 206px;
		margin-top: 40px;
		white-space: nowrap;
		line-height: 23px;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: lighter;
		font-size: 18px;
		color: rgba(51,51,51,1);
	}
	#Facebook {

		left: 1219.619px;
		top: 2191.173px;
		overflow: visible;
		width: 80px;
		margin-top:40px;
		margin-bottom:20px;
		white-space: nowrap;
		line-height: 23px;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: lighter;
		font-size: 18px;
		color: rgba(51,51,51,1);
	}
	#Instagram {
		left: 1219.619px;
	    margin-bottom:20px;
		top: 2224.173px;
		overflow: visible;
		width: 81px;
		white-space: nowrap;
		line-height: 23px;
		margin-top: -2.5px;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: lighter;
		font-size: 18px;
		color: rgba(51,51,51,1);
	}
	#Twitter {
		left: 1219.619px;
		top: 2257.173px;
		overflow: visible;
		width: 54px;
		white-space: nowrap;
		line-height: 23px;
		margin-top: -2.5px;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		margin-bottom:20px;
		font-weight: lighter;
		font-size: 18px;
		color: rgba(51,51,51,1);
	}
	#YouTube {
		left: 1219.619px;
		top: 2290.173px;
		overflow: visible;
		width: 72px;
		margin-bottom:20px;
		white-space: nowrap;
		line-height: 23px;
		margin-top: -2.5px;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: lighter;
		font-size: 18px;
		color: rgba(51,51,51,1);
	}
	#LinkedIn {
		left: 1219.619px;
		top: 2323.173px;
		margin-bottom:20px;
		overflow: visible;
		width: 69px;
		white-space: nowrap;
		line-height: 23px;
		margin-top: -2.5px;
		text-align: left;
		font-family: Helvetica;
		font-style: normal;
		font-weight: lighter;
		font-size: 18px;
		color: rgba(51,51,51,1);
	}
	.Rectangle_763 {
		position: absolute;
		overflow: visible;
		width: 256px;
		height: 256px;
		left: 1088px;
		top: 568px;
	}
	.Rectangle_771 {
		position: absolute;
		overflow: visible;
		width: 256px;
		height: 256px;
		left: 1344px;
		top: 824px;
	}
	.niclas_illg_zs6uEwVgFLI_unspla {
		position: absolute;
		overflow: visible;
		width: 256px;
		height: 256px;
		left: 1344px;
		top: 312px;
	}
	.Rectangle_785 {
		position: absolute;
		overflow: visible;
		width: 256px;
		height: 256px;
		left: 320px;
		top: 1080px;
	}
	.Rectangle_701 {
		position: absolute;
		overflow: visible;
		width: 256px;
		height: 256px;
		left: 1344px;
		top: 1080px;
	}
	.Rectangle_770 {
		position: absolute;
		overflow: visible;
		width: 256px;
		height: 256px;
		left: 832px;
		top: 1080px;
	}