.login-form {
  max-width: 300px;
  min-width: 300px;
}

.login-form-button {
  width: 100%;
}

.layout {
  height: 100vh;
  flex: 1;
}

.content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  background: #fff;
  padding: 0 0 0 10px;
}

.logo {
  display: inline-block;
  margin-top: 0px;
  height: 80%;

  img {
    height: 100%;
    margin: 0;
  }
}